# Python Part II: Intro to Pandas

In Python Part I, we flew through introductory Python concepts, everything from the `print()` statement to For Loops, and used that information to write cool little applications like simulating a coin flip. At the end, we covered packages which are importable Python obejcts with defined methods and attributes. We looked at the `math` package, we includes relevant mathmatical functions like `log10()` and `gcd()`. We also looked at the `random` package, with allowed us to create random variables. 

We will now introduce the Pandas package, which is a Python package that allows users easily to manipulate datasets in Python.

*Note: In the walkthrough below, the first instance of each new Pandas method or attribute will be hyperlinked directly to the Pandas documentation for that method/attribute. Feel free to reference that documentation for additional information.*

# Part 1: The DataFrame

First, to start using Pandas, we have to import it. Typically, Pandas is imported as follows

In [32]:
import pandas as pd

The above code imports Pandas and then assigns the package a nickname, in this case `pd`. Therefore, whenever we refer to Pandas we can just type `pd`. 

In the below code, we use Pandas to read in our first dataset, specifically the `sales.csv` file stored in the "Intro to Python - II" repository.

In [33]:
sales_csv = r"https://raw.githubusercontent.com/cra-international/Intro-to-Python/master/Intro%20to%20Python%20-%20II/cookie_sales.csv"
sales_df = pd.read_csv(sales_csv)

In the above code, we reference the Pandas package using the `pd` notation discussed above. We then call the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function, which has one *required* argument, in this case the path to the file. As the documentation notes, "Any valid string path is acceptable. The string could be a URL." So in this case, we pass a URL to the function which itself points to a CSV file.

Great! So, what was returned by this `read_csv()` function? Let's find out! We can use Python's built-in `type()` function to find out.

In [34]:
print(type(sales_df))

<class 'pandas.core.frame.DataFrame'>

In this case, what was returned was a *DataFrames*, which is a data type we haven't seen before. That's because DataFrames are defined by the Pandas package. The majority of this demo will focus on learning about DataFrames, as this is where all the magic happens. DataFrames not only store data, but they also have *methods* that allow us to manipulate the data easily. We'll cover the methods in more detail, and exactly how DataFrames store data, below.

### Now you try! 

Create a new dataframe, called `price_df`, that takes the value of the data stored in the `cookie_prices.csv` file. The URL to that file has already been stored in the `price_url` variable below.

In [43]:
price_url = r"https://raw.githubusercontent.com/cra-international/Intro-to-Python/master/Intro%20to%20Python%20-%20II/cookie_prices.csv"
price_df = pd.read_csv(price_url)

## Part 2: Exploring Data

### <ins>The `.shape` Attribute</ins>

Now that we can read in the data, the next step is to explore the data and see what it looks like. So let's learn our first Pandas function. We can get a quick glimpse of the data by using the [`.head()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) method, which by default prints the first five observations of the dataset.

In [36]:
sales_df.head()

   Troop Number                    Box Sold Notes
0           179             Thin Mints   43   NaN
1           179        Caramel deLites   16   NaN
2           179  Peanut Butter Patties   22   NaN
3           179     Girl Scout S'mores   11   NaN
4           179              Lemonades   34   NaN

Here we see that there are 4 columns - Troop Number, Cookie, state, Boxes Sold, and Notes. Based on the looks of it, this looks like Girl Scout Cookie Sales data by troop and cookie type.

We can also look at the shape of the data using the [`.shape`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html) attribute. We have not covered attributes up to this point, but an *attribute* is a static value associated with a Python object. Like methods, attributes are accessed using the dot operator, however they are not followed by any parentheses. In this case, the `.shape`, attribute of a Pandas DataFrame returns a *tuple* of the number of observations and number of columns in the DataFrame, in that order. We will talk more about tuples below.

In [44]:
print(sales_df.shape)

(40, 4)

Based on this, we can see that the first value of the tuple is `40` and the second is `4`, indicating that there are 40 observations and 4 columns in `sales_df`. Tuples are very simlar to lists as they are ordered and therefore can be accessed using positional indexing. For example, we can get just the number of observations of `sales_df` by doing the following

In [38]:
print("sales_df has", sales_df.shape[0] , "observations.")

sales_df has 40 observations.

The key difference between tuples and lists, however, is that tuples are *not* mutable, meaning you can not change the values of a tuple using positional indexing.

### Now you try!

In the first code cell below, use the `.head()` method to look at the `price_df` variable you created above. What does the `price_df` dataset look like? What kind of data is it? Then, in the second code cell, print the number of columns of the data to the console by using positional indexing to reference the second value of the tuple returned by `.shape`.

In [45]:
price_df.head()

                  Cookie  Dollars
0             Thin Mints        4
1        Caramel deLites        4
2  Peanut Butter Patties        4
3     Girl Scout S'mores        4
4              Lemonades        4

In [46]:
print("price_df has", price_df.shape[1], "columns.")

price_df has 2 columns.

### <ins>Pandas Data Types</ins>

DataFrames, like other 2-dimensional data storage types such as SQL tables or Stata datasets, defines data types as the *column* level. Therefore, like regular Python, Dataframes also have basic data types we need to learn about. These are 
* int64
* float64
* object
* bool
* datetime64

You should notice some similarities between these data types and the basic Python datatypes. `int64` is Pandas' integer data type, where the 64 denotes how many bits each value is comprised of. Since there are 8 bits in a byte, that means the largest value an int64 can be is $2^{64}$, which is typically plenty large enough. `float64` is simlar, but for floats and `bool` is a column of boolean values. 

How are strings stored? Strings are stored using the `object` data type. It's important to note that while all string columns are stored as `object`s, not all `object` columns are strings. For example, we may have a column of *mixed* values, say strings and numbers. That type of column will be cast as an `object` type, essentially converting the numbers in column to text.

Finally, there is one type of datatype we haven't encountered before, and that's the `datetime64` type. `datetime` objects are built-in Python storage objects that allow for easy creation, manipulation, and storage of dates. Pandas' `datetime64` data type is a vectorized form of of the `datetime` object type which allocates 8 bytes to each `datetime` value in the column.

So, how do we see what data types specific columns are in our data? We can do that by referencing the [`.dtypes`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html) attribute of a DataFrame.

In [53]:
sales_df.dtypes

Troop Number     int64
Cookie Type     object
Boxes Sold      object
Notes           object
dtype: object

This DataFrame attribute simply returns as text the data type of each column in the associated DataFrame.

Based on the first 5 observations of the data we saw from calling the `.head()` method, it's a bit odd that "Boxes Sold", which looks numeric, is of the `object` type. What's going on? Let's print the whole dataset to see. To do that in a Jupyter Notebook, we simply run a block of code with just the variable name of the DataFrame we want to see, as below

In [54]:
sales_df

,Troop Number,Cookie Type,Boxes Sold,Notes
0,179,Thin Mints,43,NaN
1,179,Caramel deLites,16,NaN
2,179,Peanut Butter Patties,22,NaN
3,179,Girl Scout S'mores,11,NaN
4,179,Lemonades,34,NaN
5,179,Peanut Butter Sandwich,8,NaN
6,179,Shortbread,38,NaN
7,179,Thanks-A-Lot,26,NaN
8,179,Caramel Chocolate Chip,17,NaN
9,179,Toffee-tastic,29,NaN
10,177,Thin Mints,117,NaN
11,177,Caramel deLites,84,NaN
12,177,Peanut Butter Patties,39,NaN
13,177,Girl Scout S'mores,33,NaN
14,177,Lemonades,56,NaN
15,177,Peanut Butter Sandwich,12,NaN
16,177,Shortbread,86,NaN
17,177,Thanks-A-Lot,24,NaN
18,177,Caramel Chocolate Chip,45,NaN
19,177,Toffee-tastic,77,NaN
20,143,Thin Mints,94,NaN
21,143,Caramel deLites,99,NaN
22,143,Peanut Butter Patties,No Sales,*Severe Peanut Allergy Impacted Sales
23,143,Girl Scout S'mores,76,NaN
24,143,Lemonades,125,NaN
25,143,Peanut Butter Sandwich,No Sales,*Severe Peanut Allergy Impacted Sales
26,143,Shortbread,36,NaN
27,143,Thanks-A-Lot,15,NaN
28,143,Caramel Chocolate Chip,69,NaN
29,143,Toffee-tastic,103,NaN
30,212,Thin Mints,21,NaN
31,212,Caramel deLites,7,NaN
32,212,Peanut Butter Patties,3,NaN
33,212,Girl Scout S'mores,5,NaN
34,212,Lemonades,15,NaN
35,212,Peanut Butter Sandwich,2,NaN
36,212,Shortbread,17,NaN
37,212,Thanks-A-Lot,9,NaN
38,212,Caramel Chocolate Chip,12,NaN
39,212,Toffee-tastic,13,NaN

As we can see, while "Boxes Sold" is almost always numeric, there are two instances where it takes the value "No Sales". That seems to be because, based on the "Notes" column, a "Severe Peanut Allergy Impacted Sales". We will address how to resolve this problem later on in the walkthrough.

### Now You Try!

Print the data types of the `price_df` dataset below and the print the entire dataset to the console.

In [55]:
print(price_df.dtypes)
price_df

Cookie       object
Price ($)     int64
True           bool
dtype: object

                   Cookie  Price ($)  True
0              Thin Mints          4  True
1         Caramel deLites          4  True
2   Peanut Butter Patties          4  True
3      Girl Scout S'mores          4  True
4               Lemonades          4  True
5   Peanut Butter Sanwich          4  True
6              Shortbread          4  True
7            Thanks-A-Lot          4  True
8  Caramel Chocolate Chip          5  True
9           Toffee-tastic          4  True

## Part 3: Cleaning Data

The `sales_df` DataFrame has four columns - "Troop Number", "Box", "Sold", and "Notes". Some of these column names, however, are not that informative. For example, we may want to change "Box" to "Cookie Type" and "Sold" to "Boxes Sold". Let's do that by using the [`.rename()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) method, as below and then print the first five observations to see the results

In [41]:
sales_df = sales_df.rename(columns={"Box" : "Cookie Type",
                                    "Sold" : "Boxes Sold"})
sales_df.head()

   Troop Number            Cookie Type Boxes Sold Notes
0           179             Thin Mints         43   NaN
1           179        Caramel deLites         16   NaN
2           179  Peanut Butter Patties         22   NaN
3           179     Girl Scout S'mores         11   NaN
4           179              Lemonades         34   NaN

We can now see that the column "Box" was changed to "Cookie Type" and "Sold" was changed to "Boxes Sold". 

The `.rename()` method can take multiple arguments, but the one most frequently used is the `columns` argument. Note that we haven't seen this type of argument notation before, but specific arguments can be specified using the following syntax `<argument name>=<value>`. Arguments specified in this way have a specific name, *keyword arguments*. All of Pandas' more complex methods rely on keyword arguments, so we will see this notation pop up more as we go along.

In this case, we specify the keyword argument `columns` within the call to the `.rename()` method and pass a *dictionary* as the value of the argument. The dictionary is structured so that the *key* is the existing column name and the *value* is the new column name. This dictionary contains multiple key-value pairs corresponding to two column name changes we intend to make. The result of the `.rename()` method is a new DataFrame with the updated column names. In this case, we update the `sales_df` variable by assigning that new DataFrame to the existing variable `sales_df`.

### Now You Try!

The price variable in the `price_df` data is currently just called "Dollars". Rename that variable to "Price ($)" to make it more specific/informative. 

*Note: Pandas allows the use of special characters in column names!*

In [48]:
price_df = price_df.rename(columns={"Dollars" : "Price ($)"})
price_df.head()

                  Cookie  Price ($)
0             Thin Mints          4
1        Caramel deLites          4
2  Peanut Butter Patties          4
3     Girl Scout S'mores          4
4              Lemonades          4